In [2]:
#Q1. Set the variable test1 to the string 'This is a test of the emergency text system' and save test1 to a
#file named test.txt.

test1 = 'This is a test of the emergency text system'

file = open('test.txt','w')
file.write(test1)
file.close()

In [5]:
#Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
#and test 2?

file = open('test.txt','r')
test2 = file.read()
test2
#No there is no difference between test1

'This is a test of the emergency text system'

In [8]:
#Q3. Create a CSV file called books.csv by using these lines:

file = open('book.csv','w')
file.write("""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992""")
file.close()

In [9]:
#Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
#these fields: title (text), author (text), and year (integer).

import sqlite3
db = sqlite3.connect('book.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text,author text,year integer)")
db.commit()
db.close()

In [16]:
db = sqlite3.connect('book.db')
cursor = db.cursor()
cursor.execute("""SELECT name FROM sqlite_master  
  WHERE type='table'""") # to check all table present inside db
print(cursor.fetchall())
db.commit()
db.close()

[('books',)]

In [17]:
#Q5. Read books.csv and insert its data into the book table.
import csv
conn = sqlite3.connect('book.db')
cursor = conn.cursor()
with open('book.csv','r') as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

In [20]:
db = sqlite3.connect('book.db')
cursor = db.cursor()
cursor.execute("""SELECT * FROM books""") # to check all value inside book table
print(cursor.fetchall())
db.commit()
db.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

In [21]:
#Q6. Select and print the title column from the book table in alphabetical order.
db = sqlite3.connect('book.db')
cursor = db.cursor()
cursor.execute("""SELECT title FROM books ORDER BY title ASC""") # to check all value inside book table
print(cursor.fetchall())
db.commit()
db.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [22]:
#Q7. From the book table, select and print all columns in the order of publication.
db = sqlite3.connect('book.db')
cursor = db.cursor()
cursor.execute("""SELECT * FROM books ORDER BY year""") # to check all value inside book table
print(cursor.fetchall())
db.commit()
db.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

In [23]:
#Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [24]:
#Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
#Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
#test.

!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Requirement already satisfied: packaging>=20.4 in d:\anaconda\lib\site-packages (from redis) (21.3)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in d:\anaconda\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

In [31]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)
result = r.hmset("test", {
  "name": "Fester Bestertester",
  "count": 1
})
r.hgetall('test')

C:\Users\pashi\AppData\Local\Temp\ipykernel_18928\182767699.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  result = r.hmset("test", {

{b'name': b'Fester Bestertester', b'age': b'1', b'count': b'1'}

In [32]:
#Q10. Increment the count field of test and print it.
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'2'