## **Python String Manipulation**

## -by **Akash Nandi**

**Q1. Count the number of times iNeuron appears in the string: text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"**
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

In [7]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
c = text.count("iNeuron")
print(c)

3

**Q2. Check if position 5 to 11 ends with the phrase iNeuron. in the string:**
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [49]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
print(txt[5:11].endswith("iNeuron"))

False

**3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.**

In [26]:
name = input("Enter your Full Name: ")
txt = name.split(" ")
n = len(txt)
a = ""
for i in txt[:-1]:
  a = a+(i[0][0]).upper()+"."
a = a+txt[n-1]
print("Abbreviated Name:",a)

Enter your Full Name: Sunny Bhaveen Chandra
Abbreviated Name: S.B.Chandra

**4. Join all items in a list into a string, using a hash(`#`) character as separator: LIST = ["My", "name", "is", "Rishav", "Dash"]**

```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
print("#".join(LIST))
```

In [29]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
print("#".join(LIST))

My#name#is#Rishav#Dash

**5. Write example for the following string manipulation function:**
  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

In [45]:
# -isdecimal()
a = "28222"
print(a,"-",a.isdecimal(),"\n")

# -islower()
b = "akashnandi"
print(b,"-",b.islower(),"\n")

# isupper()
c= "AKASH NANDI"
print(c,"-",c.isupper(),"\n")

# isalpha()
d = "akash"
print(d,"-",d.isalpha(),"\n")

# isnumeric()
e = "12345"
print(e,"-",e.isnumeric(),"\n")

28222 - True

akashnandi - True

AKASH NANDI - True

akash - True

12345 - True

**6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.**

In [47]:
PAN_CARD = input("Enter your Pan Card Number: ")
if len(PAN_CARD)>10 or len(PAN_CARD)<10:
  print("Invalid Pan Card number")
elif len(PAN_CARD)==10:
  if PAN_CARD.isalnum() and PAN_CARD[:5].isalpha() and PAN_CARD[:5].isupper() and PAN_CARD[-1].isalpha() and PAN_CARD[-1].isupper() and PAN_CARD[5:9].isnumeric():
    print("Valid Pan Card number")

Enter your Pan Card Number: AYEPC7894X
Valid Pan Card number